:root {
  --background-color: #1d2c37;

  --letter-color: #ffffff;
  --second-letter-color: #777777;

  --search-color: #5f6d83;
  --toggle-color: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background-color);
  color: var(--letter-color);
}

.page-container {
  width: 1200px;
  height: 100vh;

  margin: auto;

  grid-template-areas: "header" "main" "forecast" "links";
  grid-template-rows: 1fr 3fr 3fr 0.5fr;
  gap: 50px;

  padding: 50px 100px;
  display: grid;
}

.links {
  justify-self: center;
  grid-area: links;

  display: flex;
  gap: 20px;
  font-size: 1.1rem;
}

.links > a {
  color: var(--letter-color);
  text-decoration: none;
}

.links > a:hover {
  text-decoration: underline;
}
