.forecast-container {
  grid-area: forecast;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
}

.forecast-container > select {
  background-color: #222222;
  opacity: 0.5;
  color: var(--letter-color);

  padding: 10px;
  border-radius: 50px;
  font-size: 1.5rem;
  margin-bottom: 20px;

  align-self: flex-start;
}

.daily-hourly-container {
  flex: 0.9;

  display: flex;
  gap: 80px;

  padding: 20px;
  border-radius: 20px;

  background-color: var(--forecast-color);
  overflow-x: auto;
}

.daily-hourly-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.day-container > p,
.hour-container > p {
  text-align: center;
  width: 100px;
}

.forecast-hour,
.forecast-day {
  font-size: 1.1rem;
  font-weight: bolder;
}
