.forecast-container {
  grid-area: forecast;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast-container > select {
  background-color: #222222;
  opacity: 0.5;
  color: var(--letter-color);

  padding: 10px;
  border-radius: 50px;
  font-size: 1.5rem;
  margin-bottom: 20px;

  align-self: flex-start;
}

.daily-hourly-container {
  flex: 1;
  max-width: 1200px;
  display: flex;
  gap: 80px;

  padding: 20px;
  border-radius: 20px;

  overflow-x: auto;

  box-shadow: 1px 1px 10px var(--toggle-color);
}

.daily-hourly-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.forecast-hour,
.forecast-day {
  font-size: 1.1rem;
  font-weight: bolder;
}
