.main-container {
  grid: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-container > h2 {
  font-size: 10rem;
}

.condition-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.condition,
.min-max-temperature {
  color: var(--second-letter-color);
  font-size: 3rem;
}
